<?xml version="1.0"?>
<config>
    <modules>
        <Naresh_Measurement>
            <version>0.1.0</version>
        </Naresh_Measurement>
    </modules>
    <frontend>
        <routers>
            <measurement>
                <use>standard</use>
                <args>
                    <module>Naresh_Measurement</module>
                    <frontName>measurement</frontName>
                </args>
            </measurement>
        </routers>
        <layout>
            <updates>
                <measurement>
                    <file>measurement.xml</file>
                </measurement>
                <naresh_measurement>
                    <file>myaccountmeasurements.xml</file>
                </naresh_measurement>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<measurement>
				<use>admin</use>
				<args>
					<module>Naresh_Measurement</module>
					<frontName>measurement</frontName>
				</args>
			</measurement>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<measurement module="measurement">
				<title>Measurements</title>
				<sort_order>71</sort_order>               
				<children>
                    <items module="measurement">
                        <title>Manage Measurements</title>
                        <sort_order>0</sort_order>
                        <action>measurement/adminhtml_measurement</action>
                    </items>
                    <frontstyle translate="frontstyle">
                        <title>Manage Front Styles</title>
                        <sort_order>2</sort_order>
                        <action>styles/adminhtml_styles</action>
                    </frontstyle>
                    <backstyle translate="backstyle">
                        <title>Manage Back Styles</title>
                        <sort_order>3</sort_order>
                        <action>back/adminhtml_back</action>
                    </backstyle>
                    <sleevestyle translate="sleevestyle">
                        <title>Manage Sleeve Styles</title>
                        <sort_order>4</sort_order>
                        <action>sleeves/adminhtml_sleeves</action>
                    </sleevestyle>
                    <salwar translate="salwar">
                        <title>Manage Salwar Styles</title>
                        <sort_order>4</sort_order>
                        <action>salwar/adminhtml_salwar</action>
                    </salwar>
                    <lehanga translate="lehanga">
                        <title>Manage Lehanga Styles</title>
                        <sort_order>5</sort_order>
                        <action>lehanga/adminhtml_lehanga</action>
                    </lehanga>
                    <tassel translate="tassel">
                        <title>Manage Tassel Styles</title>
                        <sort_order>5</sort_order>
                        <action>tassel/adminhtml_tassel</action>
                    </tassel>
                    <measurementremember module="measurementremember">
                        <title>Stored Measurements</title>
                        <sort_order>10</sort_order>
                        <action>measurementremember/adminhtml_measurementremember</action>
                    </measurementremember>
                </children>
			</measurement>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Naresh_Measurement>
							<title>Measurement Module</title>
							<sort_order>10</sort_order>
						</Naresh_Measurement>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<measurement>
					<file>measurement.xml</file>
				</measurement>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <measurement>
                <class>Naresh_Measurement_Model</class>
                <resourceModel>measurement_mysql4</resourceModel>
            </measurement>
            <measurement_mysql4>
                <class>Naresh_Measurement_Model_Mysql4</class>
                <entities>
                    <measurement>
                        <table>measurement</table>
                    </measurement>
                </entities>
                <entities>
                    <customtitles>
                        <table>measurement_custom_titles</table>
                    </customtitles>
                </entities>
            </measurement_mysql4>
        </models>
        <resources>
            <measurement_setup>
                <setup>
                    <module>Naresh_Measurement</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </measurement_setup>
            <measurement_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </measurement_write>
            <measurement_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </measurement_read>
        </resources>
        <blocks>
            <measurement>
                <class>Naresh_Measurement_Block</class>
            </measurement>
            <customer>
                <rewrite>
                    <account_navigation>Naresh_Measurement_Block_Customer_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
        </blocks>
        <helpers>
            <measurement>
                <class>Naresh_Measurement_Helper</class>
            </measurement>
        </helpers>
    </global>
</config>