<?xml version="1.0"?>
<config>
  <modules>
   <Naresh_Custom>
    <version>0.1.0</version>
   </Naresh_Custom>
  </modules>
  <global>
    <blocks>
      <custom><class>Naresh_Custom_Block</class></custom>
      <!-- <sales>
        <rewrite>
          <order_history>Naresh_Custom_Block_Order_History</order_history>
        </rewrite>        
      </sales> -->
    </blocks>
    <models>
      <custom><class>Naresh_Custom_Model</class></custom>
      <!-- <usa>
        <rewrite>
          <dhl_international>Naresh_Custom_Model_Shipping_Carrier_Dhl_International</dhl_international>
        </rewrite>
      </usa> -->
    </models>
    <helpers>
      <custom>
        <class>Naresh_Custom_Helper</class>
      </custom>
    </helpers>
  </global>
</config>