<?xml version="1.0"?>
<config>
    <modules>
        <Naresh_Tassel>
            <version>0.1.0</version>
        </Naresh_Tassel>
    </modules>
    <frontend>
        <routers>
            <tassel>
                <use>standard</use>
                <args>
                    <module>Naresh_Tassel</module>
                    <frontName>tassel</frontName>
                </args>
            </tassel>
        </routers>
        <layout>
            <updates>
                <tassel>
                    <file>tassel.xml</file>
                </tassel>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<tassel>
				<use>admin</use>
				<args>
					<module>Naresh_Tassel</module>
					<frontName>tassel</frontName>
				</args>
			</tassel>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<!-- <tassel module="tassel">
				<title>Tassel</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="tassel">
						<title>Manage Tassel</title>
						<sort_order>0</sort_order>
						<action>tassel/adminhtml_tassel</action>
					</items>
                    <list translate="list">
                        <title>Manage Tassel</title>
                        <sort_order>2</sort_order>
                        <action>tassel/adminhtml_tassel</action>
                    </list>
				</children>
			</tassel> -->
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Naresh_Tassel>
							<title>Tassel Module</title>
							<sort_order>10</sort_order>
						</Naresh_Tassel>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<tassel>
					<file>tassel.xml</file>
				</tassel>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <tassel>
                <class>Naresh_Tassel_Model</class>
                <resourceModel>tassel_mysql4</resourceModel>
            </tassel>
            <tassel_mysql4>
                <class>Naresh_Tassel_Model_Mysql4</class>
                <entities>
                    <tassel>
                        <table>measurement_tassel_styles</table>
                    </tassel>
                </entities>
            </tassel_mysql4>
        </models>
        <resources>
            <tassel_setup>
                <setup>
                    <module>Naresh_Tassel</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tassel_setup>
            <tassel_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tassel_write>
            <tassel_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tassel_read>
        </resources>
        <blocks>
            <tassel>
                <class>Naresh_Tassel_Block</class>
            </tassel>
        </blocks>
        <helpers>
            <tassel>
                <class>Naresh_Tassel_Helper</class>
            </tassel>
        </helpers>
    </global>
</config>