<?xml version="1.0"?>
<config>
    <modules>
        <Naresh_Styles>
            <version>0.1.0</version>
        </Naresh_Styles>
    </modules>
    <frontend>
        <routers>
            <styles>
                <use>standard</use>
                <args>
                    <module>Naresh_Styles</module>
                    <frontName>styles</frontName>
                </args>
            </styles>
        </routers>
        <layout>
            <updates>
                <styles>
                    <file>styles.xml</file>
                </styles>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<styles>
				<use>admin</use>
				<args>
					<module>Naresh_Styles</module>
					<frontName>styles</frontName>
				</args>
			</styles>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<!-- <styles module="styles">
				<title>Styles</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="styles">
						<title>Manage Styles</title>
						<sort_order>0</sort_order>
						<action>styles/adminhtml_styles</action>
					</items>
                    <list translate="list">
                        <title>Manage Styles</title>
                        <sort_order>2</sort_order>
                        <action>styles/adminhtml_styles</action>
                    </list>
				</children>
			</styles> -->
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Naresh_Styles>
							<title>Styles Module</title>
							<sort_order>10</sort_order>
						</Naresh_Styles>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<styles>
					<file>styles.xml</file>
				</styles>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <styles>
                <class>Naresh_Styles_Model</class>
                <resourceModel>styles_mysql4</resourceModel>
            </styles>
            <styles_mysql4>
                <class>Naresh_Styles_Model_Mysql4</class>
                <entities>
                    <styles>
                        <table>measurement_front_styles</table>
                    </styles>
                </entities>
            </styles_mysql4>
        </models>
        <resources>
            <styles_setup>
                <setup>
                    <module>Naresh_Styles</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </styles_setup>
            <styles_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </styles_write>
            <styles_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </styles_read>
        </resources>
        <blocks>
            <styles>
                <class>Naresh_Styles_Block</class>
            </styles>
        </blocks>
        <helpers>
            <styles>
                <class>Naresh_Styles_Helper</class>
            </styles>
        </helpers>
    </global>
</config>