<?xml version="1.0"?>
<config>
    <modules>
        <Naresh_Newaddaction>
            <version>0.1.0</version>
        </Naresh_Newaddaction>
    </modules>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <Naresh_Newaddaction before="Mage_Checkout">Naresh_Newaddaction</Naresh_Newaddaction>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <newaddaction>
                    <file>newaddaction.xml</file>
                </newaddaction>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <newaddaction>
                <use>admin</use>
                <args>
                    <module>Naresh_Newaddaction</module>
                    <frontName>newaddaction</frontName>
                </args>
            </newaddaction>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Naresh_Newaddaction>
                            <title>Newaddaction Module</title>
                            <sort_order>10</sort_order>
                        </Naresh_Newaddaction>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <newaddaction>
                    <file>newaddaction.xml</file>
                </newaddaction>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <newaddaction>
                <class>Naresh_Newaddaction_Model</class>
                <resourceModel>newaddaction_mysql4</resourceModel>
            </newaddaction>
            <newaddaction_mysql4>
                <class>Naresh_Newaddaction_Model_Mysql4</class>
                <entities>
                    <newaddaction>
                        <table>product_stitching_services</table>
                    </newaddaction>
                </entities>
            </newaddaction_mysql4>
        </models>
        <resources>
            <newaddaction_setup>
                <setup>
                    <module>Naresh_Newaddaction</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </newaddaction_setup>
            <newaddaction_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </newaddaction_write>
            <newaddaction_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </newaddaction_read>
        </resources>
        <blocks>
            <newaddaction>
                <class>Naresh_Newaddaction_Block</class>
            </newaddaction>
        </blocks>
        <helpers>
            <newaddaction>
                <class>Naresh_Newaddaction_Helper</class>
            </newaddaction>
        </helpers>
    </global>
</config>