<?xml version="1.0"?>
<config>
    <modules>
        <Naresh_Lehanga>
            <version>0.1.0</version>
        </Naresh_Lehanga>
    </modules>
    <frontend>
        <routers>
            <lehanga>
                <use>standard</use>
                <args>
                    <module>Naresh_Lehanga</module>
                    <frontName>lehanga</frontName>
                </args>
            </lehanga>
        </routers>
        <layout>
            <updates>
                <lehanga>
                    <file>lehanga.xml</file>
                </lehanga>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<lehanga>
				<use>admin</use>
				<args>
					<module>Naresh_Lehanga</module>
					<frontName>lehanga</frontName>
				</args>
			</lehanga>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<!-- <lehanga module="lehanga">
				<title>Lehanga</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="lehanga">
						<title>Manage Lehanga</title>
						<sort_order>0</sort_order>
						<action>lehanga/adminhtml_lehanga</action>
					</items>
                    <list translate="list">
                        <title>Manage Lehanga</title>
                        <sort_order>2</sort_order>
                        <action>lehanga/adminhtml_lehanga</action>
                    </list>
				</children>
			</lehanga> -->
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Naresh_Lehanga>
							<title>Lehanga Module</title>
							<sort_order>10</sort_order>
						</Naresh_Lehanga>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<lehanga>
					<file>lehanga.xml</file>
				</lehanga>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <lehanga>
                <class>Naresh_Lehanga_Model</class>
                <resourceModel>lehanga_mysql4</resourceModel>
            </lehanga>
            <lehanga_mysql4>
                <class>Naresh_Lehanga_Model_Mysql4</class>
                <entities>
                    <lehanga>
                        <table>measurement_lehanga_styles</table>
                    </lehanga>
                </entities>
            </lehanga_mysql4>
        </models>
        <resources>
            <lehanga_setup>
                <setup>
                    <module>Naresh_Lehanga</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </lehanga_setup>
            <lehanga_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </lehanga_write>
            <lehanga_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </lehanga_read>
        </resources>
        <blocks>
            <lehanga>
                <class>Naresh_Lehanga_Block</class>
            </lehanga>
        </blocks>
        <helpers>
            <lehanga>
                <class>Naresh_Lehanga_Helper</class>
            </lehanga>
        </helpers>
    </global>
</config>