<?xml version="1.0"?>
<config>
    <modules>
        <Naresh_Cardholder>
            <version>0.1.0</version>
        </Naresh_Cardholder>
    </modules>
    <frontend>
        <routers>
            <cardholder>
                <use>standard</use>
                <args>
                    <module>Naresh_Cardholder</module>
                    <frontName>cardholder</frontName>
                </args>
            </cardholder>
        </routers>
        <layout>
            <updates>
                <cardholder>
                    <file>cardholder.xml</file>
                </cardholder>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<cardholder>
				<use>admin</use>
				<args>
					<module>Naresh_Cardholder</module>
					<frontName>cardholder</frontName>
				</args>
			</cardholder>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<cardholder module="cardholder">
				<title>Cardholder</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="cardholder">
						<title>Manage Cardholder's Names</title>
						<sort_order>0</sort_order>
						<action>cardholder/adminhtml_cardholder</action>
					</items>
				</children>
			</cardholder>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Naresh_Cardholder>
							<title>Cardholder Module</title>
							<sort_order>10</sort_order>
						</Naresh_Cardholder>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<cardholder>
					<file>cardholder.xml</file>
				</cardholder>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <cardholder>
                <class>Naresh_Cardholder_Model</class>
                <resourceModel>cardholder_mysql4</resourceModel>
            </cardholder>
            <cardholder_mysql4>
                <class>Naresh_Cardholder_Model_Mysql4</class>
                <entities>
                    <cardholder>
                        <table>invoice_cardholders_list</table>
                    </cardholder>
                </entities>
            </cardholder_mysql4>
        </models>
        <resources>
            <cardholder_setup>
                <setup>
                    <module>Naresh_Cardholder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cardholder_setup>
            <cardholder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cardholder_write>
            <cardholder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cardholder_read>
        </resources>
        <blocks>
            <cardholder>
                <class>Naresh_Cardholder_Block</class>
            </cardholder>
        </blocks>
        <helpers>
            <cardholder>
                <class>Naresh_Cardholder_Helper</class>
            </cardholder>
        </helpers>
    </global>
</config>