<?xml version="1.0"?>
<config>
	<modules>
		<Adventos_CustomizableId>
			<version>1.0.1</version>
		</Adventos_CustomizableId>
	</modules>
	<global>
		<models>
			<customizableid>
				<class>Adventos_CustomizableId_Model</class>
			</customizableid>
		</models>
		<helpers>
			<customizableid>
				<class>Adventos_CustomizableId_Helper</class>
			</customizableid>
		</helpers>
	</global>
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<adventos>
											<title>Adventos Extentions</title>
										</adventos>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
		<adventos>
			<customizableId>
				<process>0</process>
				<order_prefix></order_prefix>
				<process_country>0</process_country>
			</customizableId>
		</adventos>
	</default>
</config>
