<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Neklo_ProductGridThumbnail>
            <version>1.0.0</version>
        </Neklo_ProductGridThumbnail>
    </modules>
    <global>
        <blocks>
            <neklo_productgridthumbnail_adminhtml>
                <class>Neklo_ProductGridThumbnail_Block_Adminhtml</class>
            </neklo_productgridthumbnail_adminhtml>
        </blocks>
        <helpers>
            <neklo_productgridthumbnail>
                <class>Neklo_ProductGridThumbnail_Helper</class>
            </neklo_productgridthumbnail>
        </helpers>
        <models>
            <neklo_productgridthumbnail>
                <class>Neklo_ProductGridThumbnail_Model</class>
            </neklo_productgridthumbnail>
        </models>
    </global>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <neklo_productgridthumbnail_core_block_abstract_prepare_layout_before>
                        <type>singleton</type>
                        <class>neklo_productgridthumbnail/observer</class>
                        <method>productGridAddColumn</method>
                    </neklo_productgridthumbnail_core_block_abstract_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <catalog_product_collection_load_before>
                <observers>
                    <neklo_productgridthumbnail_catalog_product_collection_load_before>
                        <type>singleton</type>
                        <class>neklo_productgridthumbnail/observer</class>
                        <method>productCollectionAddThumbnail</method>
                    </neklo_productgridthumbnail_catalog_product_collection_load_before>
                </observers>
            </catalog_product_collection_load_before>
        </events>
        <translate>
            <modules>
                <Neklo_ProductGridThumbnail>
                    <files>
                        <default>Neklo_ProductGridThumbnail.csv</default>
                    </files>
                </Neklo_ProductGridThumbnail>
            </modules>
        </translate>
    </adminhtml>
</config>