<?xml version="1.0"?>
<config>
    <modules>
        <Naresh_Sleeves>
            <version>0.1.0</version>
        </Naresh_Sleeves>
    </modules>
    <frontend>
        <routers>
            <sleeves>
                <use>standard</use>
                <args>
                    <module>Naresh_Sleeves</module>
                    <frontName>sleeves</frontName>
                </args>
            </sleeves>
        </routers>
        <layout>
            <updates>
                <sleeves>
                    <file>sleeves.xml</file>
                </sleeves>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<sleeves>
				<use>admin</use>
				<args>
					<module>Naresh_Sleeves</module>
					<frontName>sleeves</frontName>
				</args>
			</sleeves>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<!-- <sleeves module="sleeves">
				<title>Sleeves</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="sleeves">
						<title>Manage Sleeves</title>
						<sort_order>0</sort_order>
						<action>sleeves/adminhtml_sleeves</action>
					</items>
                    <list translate="list">
                        <title>Manage Sleeves</title>
                        <sort_order>2</sort_order>
                        <action>sleeves/adminhtml_sleeves</action>
                    </list>
				</children>
			</sleeves> -->
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Naresh_Sleeves>
							<title>Sleeves Module</title>
							<sort_order>10</sort_order>
						</Naresh_Sleeves>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<sleeves>
					<file>sleeves.xml</file>
				</sleeves>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <sleeves>
                <class>Naresh_Sleeves_Model</class>
                <resourceModel>sleeves_mysql4</resourceModel>
            </sleeves>
            <sleeves_mysql4>
                <class>Naresh_Sleeves_Model_Mysql4</class>
                <entities>
                    <sleeves>
                        <table>measurement_sleeve_styles</table>
                    </sleeves>
                </entities>
            </sleeves_mysql4>
        </models>
        <resources>
            <sleeves_setup>
                <setup>
                    <module>Naresh_Sleeves</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sleeves_setup>
            <sleeves_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sleeves_write>
            <sleeves_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sleeves_read>
        </resources>
        <blocks>
            <sleeves>
                <class>Naresh_Sleeves_Block</class>
            </sleeves>
        </blocks>
        <helpers>
            <sleeves>
                <class>Naresh_Sleeves_Helper</class>
            </sleeves>
        </helpers>
    </global>
</config>