<?xml version="1.0"?>
<config>
    <modules>
        <Naresh_Taxrate>
            <version>0.1.0</version>
        </Naresh_Taxrate>
    </modules>
    <frontend>
        <routers>
            <taxrate>
                <use>standard</use>
                <args>
                    <module>Naresh_Taxrate</module>
                    <frontName>taxrate</frontName>
                </args>
            </taxrate>
        </routers>
        <layout>
            <updates>
                <taxrate>
                    <file>taxrate.xml</file>
                </taxrate>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<taxrate>
				<use>admin</use>
				<args>
					<module>Naresh_Taxrate</module>
					<frontName>taxrate</frontName>
				</args>
			</taxrate>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<taxrate module="taxrate">
				<title>Taxrate Rates</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="taxrate">
						<title>Manage Taxrate Rates</title>
						<sort_order>0</sort_order>
						<action>taxrate/adminhtml_taxrate</action>
					</items>
				</children>
			</taxrate>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Naresh_Taxrate>
							<title>Taxrate Module</title>
							<sort_order>10</sort_order>
						</Naresh_Taxrate>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<taxrate>
					<file>taxrate.xml</file>
				</taxrate>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <taxrate>
                <class>Naresh_Taxrate_Model</class>
                <resourceModel>taxrate_mysql4</resourceModel>
            </taxrate>
            <taxrate_mysql4>
                <class>Naresh_Taxrate_Model_Mysql4</class>
                <entities>
                    <taxrate>
                        <table>taxrate</table>
                    </taxrate>
                </entities>
                <!-- <entities>
                    <flatrates>
                        <table>taxrate_flatrates</table>
                    </flatrates>
                </entities> -->
            </taxrate_mysql4>
        </models>
        <resources>
            <taxrate_setup>
                <setup>
                    <module>Naresh_Taxrate</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </taxrate_setup>
            <taxrate_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </taxrate_write>
            <taxrate_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </taxrate_read>
        </resources>
        <blocks>
            <taxrate>
                <class>Naresh_Taxrate_Block</class>
            </taxrate>
        </blocks>
        <helpers>
            <taxrate>
                <class>Naresh_Taxrate_Helper</class>
            </taxrate>
        </helpers>
    </global>
</config>