<?xml version="1.0"?>
<config>
    <modules>
        <Pwa_Shipping>
            <version>1.2.0</version>
        </Pwa_Shipping>
    </modules>
    <global>
        <blocks>
            <pwa_shipping>
                <class>Pwa_Shipping_Block</class>
            </pwa_shipping>
        </blocks>
        <models>
            <pwa_shipping>
                <class>Pwa_Shipping_Model</class>
            </pwa_shipping>
            <pwa_shipping_mysql4>
                <class>Pwa_Shipping_Model_Mysql4</class>
            </pwa_shipping_mysql4>           
        </models>
        <template>
            <email>
                 <paywithamazon_easyship_email_template translate="label" module="pwa_shipping">
                    <label>Amazon EasyShip Status Update</label>
                    <file>easyship_status_update.html</file>
                    <type>html</type>
                </paywithamazon_easyship_email_template>
            </email>
        </template>
        <resources>
            <pwashipping_setup>
                <setup>
                    <module>Pwa_Shipping</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pwashipping_setup>
            <pwashipping_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pwashipping_write>
            <pwashipping_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pwashipping_read>
        </resources>
        <helpers>
            <pwa_shipping>
                <class>Pwa_Shipping_Helper</class>
            </pwa_shipping>
        </helpers>
    </global>
    <!-- Execute cron after every 2 hours-->
    <crontab>
        <jobs>
            <cron_refreshstatus>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>                 
                </schedule>
                <run><model>pwa_shipping/mwscalls::updateShippingStatusByListOrders</model></run>
            </cron_refreshstatus>
        </jobs>
    </crontab>
    <admin>
        <routers>
            <pwa_easyship>
                <use>admin</use>
                <args>
                    <module>Pwa_Shipping</module>
                    <frontName>easyship</frontName>
                </args>
            </pwa_easyship>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <paywithamazon>
                    <file>shipping.xml</file>
                </paywithamazon>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <carriers>
            <pwa_shipping>
                <active>1</active>
                <sort_order>10</sort_order>
                <model>pwa_shipping/carrier</model>
                <title>Pay with Amazon Shipping Carrier</title>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
                <express_max_weight>300000000</express_max_weight>
            </pwa_shipping>
        </carriers>
    </default>
</config>
