<?xml version="1.0"?>
<config>
    <modules>
        <Naresh_Salwar>
            <version>0.1.0</version>
        </Naresh_Salwar>
    </modules>
    <frontend>
        <routers>
            <salwar>
                <use>standard</use>
                <args>
                    <module>Naresh_Salwar</module>
                    <frontName>salwar</frontName>
                </args>
            </salwar>
        </routers>
        <layout>
            <updates>
                <salwar>
                    <file>salwar.xml</file>
                </salwar>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<salwar>
				<use>admin</use>
				<args>
					<module>Naresh_Salwar</module>
					<frontName>salwar</frontName>
				</args>
			</salwar>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<!-- <salwar module="salwar">
				<title>Salwar</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="salwar">
						<title>Manage Salwar</title>
						<sort_order>0</sort_order>
						<action>salwar/adminhtml_salwar</action>
					</items>
                    <list translate="list">
                        <title>Manage Salwar</title>
                        <sort_order>2</sort_order>
                        <action>salwar/adminhtml_salwar</action>
                    </list>
				</children>
			</salwar> -->
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Naresh_Salwar>
							<title>Salwar Module</title>
							<sort_order>10</sort_order>
						</Naresh_Salwar>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<salwar>
					<file>salwar.xml</file>
				</salwar>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <salwar>
                <class>Naresh_Salwar_Model</class>
                <resourceModel>salwar_mysql4</resourceModel>
            </salwar>
            <salwar_mysql4>
                <class>Naresh_Salwar_Model_Mysql4</class>
                <entities>
                    <salwar>
                        <table>measurement_salwar_styles</table>
                    </salwar>
                </entities>
            </salwar_mysql4>
        </models>
        <resources>
            <salwar_setup>
                <setup>
                    <module>Naresh_Salwar</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </salwar_setup>
            <salwar_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </salwar_write>
            <salwar_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </salwar_read>
        </resources>
        <blocks>
            <salwar>
                <class>Naresh_Salwar_Block</class>
            </salwar>
        </blocks>
        <helpers>
            <salwar>
                <class>Naresh_Salwar_Helper</class>
            </salwar>
        </helpers>
    </global>
</config>