<?xml version="1.0"?>
<config>
    <modules>
        <Naresh_Mycategory>
            <version>0.1.0</version>
        </Naresh_Mycategory>
    </modules>
    <frontend>
        <routers>
            <mycategory>
                <use>standard</use>
                <args>
                    <module>Naresh_Mycategory</module>
                    <frontName>mycategory</frontName>
                </args>
            </mycategory>
        </routers>
        <layout>
            <updates>
                <mycategory>
                    <file>mycategory.xml</file>
                </mycategory>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<mycategory>
				<use>admin</use>
				<args>
					<module>Naresh_Mycategory</module>
					<frontName>mycategory</frontName>
				</args>
			</mycategory>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<mycategory module="mycategory">
				<title>Collections</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="mycategory">
						<title>Manage Collections</title>
						<sort_order>0</sort_order>
						<action>mycategory/adminhtml_mycategory</action>
					</items>
				</children>
			</mycategory>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Naresh_Mycategory>
							<title>Mycategory Module</title>
							<sort_order>10</sort_order>
						</Naresh_Mycategory>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<mycategory>
					<file>mycategory.xml</file>
				</mycategory>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <mycategory>
                <class>Naresh_Mycategory_Model</class>
                <resourceModel>mycategory_mysql4</resourceModel>
            </mycategory>
            <mycategory_mysql4>
                <class>Naresh_Mycategory_Model_Mysql4</class>
                <entities>
                    <mycategory>
                        <table>mycategory</table>
                    </mycategory>
                </entities>
            </mycategory_mysql4>
        </models>
        <resources>
            <mycategory_setup>
                <setup>
                    <module>Naresh_Mycategory</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mycategory_setup>
            <mycategory_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mycategory_write>
            <mycategory_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mycategory_read>
        </resources>
        <blocks>
            <mycategory>
                <class>Naresh_Mycategory_Block</class>
            </mycategory>
            <catalog>
                <rewrite>
                    <product_list>Naresh_Mycategory_Block_Product_List</product_list>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <mycategory>
                <class>Naresh_Mycategory_Helper</class>
            </mycategory>
        </helpers>
    </global>
</config>