<?xml version="1.0"?>
<config>
    <modules>
        <Naresh_Back>
            <version>0.1.0</version>
        </Naresh_Back>
    </modules>
    <frontend>
        <routers>
            <back>
                <use>standard</use>
                <args>
                    <module>Naresh_Back</module>
                    <frontName>back</frontName>
                </args>
            </back>
        </routers>
        <layout>
            <updates>
                <back>
                    <file>back.xml</file>
                </back>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<back>
				<use>admin</use>
				<args>
					<module>Naresh_Back</module>
					<frontName>back</frontName>
				</args>
			</back>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<!-- <back module="back">
				<title>Back</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="back">
						<title>Manage Back</title>
						<sort_order>0</sort_order>
						<action>back/adminhtml_back</action>
					</items>
                    <list translate="list">
                        <title>Manage Back</title>
                        <sort_order>2</sort_order>
                        <action>back/adminhtml_back</action>
                    </list>
				</children>
			</back> -->
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Naresh_Back>
							<title>Back Module</title>
							<sort_order>10</sort_order>
						</Naresh_Back>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<back>
					<file>back.xml</file>
				</back>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <back>
                <class>Naresh_Back_Model</class>
                <resourceModel>back_mysql4</resourceModel>
            </back>
            <back_mysql4>
                <class>Naresh_Back_Model_Mysql4</class>
                <entities>
                    <back>
                        <table>measurement_back_styles</table>
                    </back>
                </entities>
            </back_mysql4>
        </models>
        <resources>
            <back_setup>
                <setup>
                    <module>Naresh_Back</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </back_setup>
            <back_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </back_write>
            <back_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </back_read>
        </resources>
        <blocks>
            <back>
                <class>Naresh_Back_Block</class>
            </back>
        </blocks>
        <helpers>
            <back>
                <class>Naresh_Back_Helper</class>
            </back>
        </helpers>
    </global>
</config>