<?xml version="1.0"?>
<config>
    <modules>
        <Naresh_Stitchingservices>
            <version>0.1.0</version>
        </Naresh_Stitchingservices>
    </modules>
    <frontend>
        <routers>
            <directory>
                <args>
                    <modules>
                        <Naresh_Stitchingservices before="Mage_Directory">Naresh_Stitchingservices</Naresh_Stitchingservices>
                    </modules>
                </args>
            </directory>
            <stitchingservices>
                <use>standard</use>
                <args>
                    <module>Naresh_Stitchingservices</module>
                    <frontName>stitchingservices</frontName>
                </args>
            </stitchingservices>
        </routers>
        <layout>
            <updates>
                <stitchingservices>
                    <file>stitchingservices.xml</file>
                </stitchingservices>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <stitchingservices>
                <use>admin</use>
                <args>
                    <module>Naresh_Stitchingservices</module>
                    <frontName>stitchingservices</frontName>
                </args>
            </stitchingservices>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <stitchingservices module="stitchingservices">
                <title>Stitching Services</title>
                <sort_order>71</sort_order>               
                <children>
                    <items module="stitchingservices">
                        <title>Manage Stitching Services</title>
                        <sort_order>0</sort_order>
                        <action>stitchingservices/adminhtml_stitchingservices</action>
                    </items>
                </children>
            </stitchingservices>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Naresh_Stitchingservices>
                            <title>Stitchingservices Module</title>
                            <sort_order>10</sort_order>
                        </Naresh_Stitchingservices>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <stitchingservices>
                    <file>stitchingservices.xml</file>
                </stitchingservices>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <stitchingservices>
                <class>Naresh_Stitchingservices_Model</class>
                <resourceModel>stitchingservices_mysql4</resourceModel>
            </stitchingservices>
            <stitchingservices_mysql4>
                <class>Naresh_Stitchingservices_Model_Mysql4</class>
                <entities>
                    <stitchingservices>
                        <table>stitchingservices</table>
                    </stitchingservices>
                    <entity>
                        <table>product_stitching_services</table>
                    </entity>
                </entities>
            </stitchingservices_mysql4>
        </models>
        <resources>
            <stitchingservices_setup>
                <setup>
                    <module>Naresh_Stitchingservices</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </stitchingservices_setup>
            <stitchingservices_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </stitchingservices_write>
            <stitchingservices_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </stitchingservices_read>
        </resources>
        <blocks>
            <stitchingservices>
                <class>Naresh_Stitchingservices_Block</class>
            </stitchingservices>
        </blocks>
        <helpers>
            <stitchingservices>
                <class>Naresh_Stitchingservices_Helper</class>
            </stitchingservices>
        </helpers>
    </global>
</config>