<?xml version="1.0"?>
<config>
    <modules>
        <Hayat_Paypalallcurrencies>
            <version>2.0.0.0</version>
        </Hayat_Paypalallcurrencies>
    </modules>
    <global>
    	<models>
			<hayat_paypalallcurrencies>
				<class>Hayat_Paypalallcurrencies_Model</class>
			</hayat_paypalallcurrencies>
			<paypal>
				<rewrite>
					<cart>Hayat_Paypalallcurrencies_Model_Cart</cart>
					<standard>Hayat_Paypalallcurrencies_Model_Standard</standard>					
					<api_standard>Hayat_Paypalallcurrencies_Model_Api_Standard</api_standard>
				</rewrite>
			</paypal>
			<sales>
				<rewrite>
					<order_payment>Hayat_Paypalallcurrencies_Model_Order_Payment</order_payment>
				</rewrite>
			</sales>
		</models>
		<helpers>
    		<paypalallcurrencies>
	    		<class>Hayat_Paypalallcurrencies_Helper</class>
	    	</paypalallcurrencies>
    	</helpers>
		<resources>
            <paypalallcurrencies_setup>
                <setup>
                    <module>Hayat_Paypalallcurrencies</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </paypalallcurrencies_setup>
            <paypalallcurrencies_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </paypalallcurrencies_write>
            <paypalallcurrencies_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </paypalallcurrencies_read>
        </resources>
    </global>
	<default>
        <hayat_paypalallcurrencies>
            <general>
				<enabled>0</enabled>
                <paypalcurrency>USD</paypalcurrency>
				<xchangerate>0</xchangerate>				
            </general>
        </hayat_paypalallcurrencies>
    </default>
</config>
