<?xml version="1.0"?>
<config>
    <tabs>
        <hayat translate="label" module="paypalallcurrencies">
            <label>MAGEOXY</label>
            <sort_order>201</sort_order>
        </hayat>
    </tabs>
    <sections>
        <hayat_paypalallcurrencies translate="label" module="paypalallcurrencies">
            <label>Paypal All Currencies</label>
            <tab>hayat</tab>
            <frontend_type>text</frontend_type>
            <sort_order>53</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>Paypal All Currencies</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>671</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
						<paypalcurrency translate="label">
                            <label>Paypal Currency</label>
							<comment>Your PayPal account currency</comment>
							<frontend_type>select</frontend_type>
							<sort_order>2</sort_order>
                            <source_model>adminhtml/system_config_source_currency</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </paypalcurrency>						
						<ordercurrency translate="label">
                            <label>Accept Selected Order Currency</label>
							<comment>For eg, you have set store currencies : USD, GBP and AUD. If user select GBP as store currency and place order then PayPal will show GBP currency.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ordercurrency>										
						<xchangerate translate="label">
							<label>Currency Exchange Rate</label>
							<comment>Overwrites exchange rate of the PayPal currency selected above. Set: 0 to use Manage Currency Rates table.</comment>
							<frontend_type>text</frontend_type>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</xchangerate>
						<addressoverride>
							<label>Addeess override</label>
							<comment>PayPal skips shipping address verification.</comment>
							<frontend_type>select</frontend_type>
							<sort_order>5</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</addressoverride>
						<license translate="label">
							<label>Licence Key</label>
							<frontend_type>text</frontend_type>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</license>
                    </fields>
                </general>
            </groups>
        </hayat_paypalallcurrencies>
    </sections>
</config>
